option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "matchmaker.settings.production"
    "PYTHONPATH": "/opt/python/current/app/matchmaker:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  aws:elasticbeanstalk:container:python:
    WSGIPath: src/matchmaker/wsgi.py